# API 配置
VITE_API_BASE_URL=/api/v1

# mock 开关系
VITE_USE_MOCK=false

# 菜单动态加载灰度开关（详见 .env.development 注释）
VITE_DYNAMIC_MENU=true

# 地图瓦片服务（离线/在线)
VITE_MAP_TILE_URL=http://192.168.20.31:8050/{z}/{x}/{y}.png

# 在线瓦片地址 (留空则使用在线 OSM)
#VITE_MAP_ONLINE_TILE_URL=https://{a-c}.tile.openstreetmap.org/{z}/{x}/{y}.png
