:root {
	--main-bg:url();
	--logo-big-white:url();
	--logo-big:url();
	--logo-small:url();
}
.hidden {
  	display:none !important;
 }
/* .logoTitle .el-icon-logo-baiomc:before {
	content:'\e7a3';
} */
*{
	margin:0;
	padding:0;
}
@media only screen and (max-width: 1000px) {
	.min-width-600 {
		min-width: 600px !important;
	}
}
input:-webkit-autofill{
	-webkit-box-shadow:0 0 0px 1000px white inset;
	border:1px solid #ccc !importnat;
}
html{
	height:100%;
}
.loginbody ,.lockbody{
	background: var(--main-bg) center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	/*min-width:1024px;*/
	overflow-x: auto;
	overflow-y: hidden;
	height:100%;
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:99999;
}
.loginbody {
	z-index:1000;
}
#loginfrom , #lockform{
	width:18%;
	min-width:300px;
	height:40%;
	min-height:300px;
	max-height:340px;
	position:absolute;
	right:14%;
	top:30%;
	background:white;
	border-radius:6px;

}
.loginformbox input, .lockformbox input{
	height: 100% !important;
	outline: none;
	background:unset;
	font-size:14px;
	border:none;
}
.login_bar_logo_div ,.lock_bar_logo_div {
	width: 80%;
	height: 36px;
	background-image: var(--logo-big-white);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	margin: 10% 10% 0 10%;
	border-style: none;
}
.login_user_div ,.lock_user_div{
	width: 80%;
	height: 37px;
	display: inline-block;
	margin: 10%;
	border-bottom:1px solid #d7dde8;
	text-align:left;

}
.login_pwd_div ,.lock_pwd_div{
	width: 80%;
	height: 37px;
	display: inline-block;
	margin:0 10%;
	border-bottom:1px solid #d7dde8;
	text-align:left;

}
.lock_pwd_div .el-password .el-input__inner{
	padding: 0px !important;
	width: 100%;
}
.login_pwd_div .el-input__inner{
	padding: 0px !important;
}
.login_pwd_div [class*=" el-icon-"] ,.login_user_div [class*=" el-icon-"] , .login_verifyCode_div [class*=" el-icon-"]{
	font-family: "el-icon" !important;
}
.login_verifyCode_div {
	width: 80%;
	height: 36px;
	display: inline-block;
	margin:0 10%;
	border-bottom:1px solid #d7dde8;
}

.login_btn_div ,.lock_btn_div{
	width: 80%;
	height: 38px;
	background-image: url(./images/login/login_loginbar_btn_login_nor.png);
	background-position: center center;
	background-size: cover;
	border-style: none;
	display: inline-block;
	cursor: pointer;
	margin:5% 10% 0 10%;
	text-align:center;
}
.login_btn_div:hover {
	background-image: url(./images/login/login_loginbar_btn_login_hov.png);
}

.login_btn_div:active {
	background-image: url(./images/login/login_loginbar_btn_login_click.png);
}
.input_ico_user_div , .input_ico_user_div_lock{
	width: 16px;
	height: 20px;
	display: inline-block;
	background-image: url(./images/login/login_loginbar_input_ico_user.png);
	background-position: center center;
	background-repeat: no-repeat;
	border-style: none;
	position: relative;
	top: 5px;
	margin:0 10px;
}
.input_ico_pwd_div , .input_ico_pwd_div_lock{
	width: 16px;
	height: 20px;
	display: inline-block;
	background-image: url(./images/login/login_loginbar_input_ico_password.png);
	background-position: center center;
	background-repeat: no-repeat;
	border-style: none;
	position: relative;
	top: 5px;
	margin:0 10px;
}
.input_ico_veriification_div {
	width: 16px;
	height: 20px;
	display: inline-block;
	background-image: url(./images/login/login_loginbar_input_ico_verificationCode.png);
	background-position: center center;
	background-repeat: no-repeat;
	border-style: none;
	position: relative;
	top: 5px;
	margin:0 10px;
}
.input_ {
	border-style: none;
	height: 30px;
	margin-top: 3px;
	outline: none;
}
.logoTitle .el-icon-logo-baiomc {
	width:100px;
	height: 50px; 
	margin-top: 0px; 
	background-image: var(--logo-big);
	background-position: center center;
	background-repeat: no-repeat;
	background-size:contain;
}
.logoTitle .el-icon-logo-omc {
	width:100px;
	height: 50px; 
	margin-top: 0px; 
	background-image: var(--logo-small);
	background-position: center center;
	background-repeat: no-repeat;
	background-size:contain;
}
/* GLOBALS */
 *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.browser_icon{
 	display:inline-block;
 	width:82px;
 	height:40px;
 }
 .google_icon{
 	background: url(./images/login/google.gif) center center no-repeat;
 }
 .firefox_icon{
 	background: url(./images/login/firefox.gif) center center no-repeat;
 }
 .edge_icon{
 	background: url(./images/login/edge.gif) center center no-repeat;
 }
 .safari_icon{
 	background: url(./images/login/safari.gif) center center no-repeat;
 }
 .lockIconItem .el-icon-circle-warning:before{
 	color:#E68619;
 }
.lockIconItem{
 	width:100%;
 	height:40px;
 	background:#fff;
 	display:flex;
 }